@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 304 98% 21%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
 

 
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Used for team's profile pictures */
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Makes it a circle */
  object-fit: cover;    /* Crops the image to fill the 150x150 area */
  object-position: center; /* Centers the crop (can be 'top' for faces) */
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

.aboutPageSection {
  background: #E8DDE7;
  margin: 1%;
  margin-bottom: 2em;
  padding: 1em 2em;
  color: black;
  border-radius: 1em;
}

.aboutPageSection h1,
.aboutPageSection h2,  
.aboutPageSection h3, 
.aboutPageSection h4,
.aboutPageSection h5,
.aboutPageSection h6 {
  font-weight: bold;
  color: purple;
  font-size: 1.125em;
}


.aboutPageSection h1,
.aboutPageSection h2,  
.aboutPageSection h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* 
.carousel-container {
  display: flec;
  flex-wrap: nowrap;
  overflow: hidden;
}
.carousel-item {
  height: 20rem;
  min-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s cubic-bexier(0.39, 0.575, 0.565, 1);
} */